

<div *ngIf="isAuth">
    <h1>Register Manager</h1>
    <hr>
    <button type="button" class="btn btn-lg btn-primary">ADD BUSINESS</button>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Time Register</th>
                <th>Booth</th>
            </tr>
        </thead>
        <tbody>
        
            <tr *ngFor="let s of data | orderBy : 'id'">
                <td>{{s.id}}</td>
                <td>{{s.name}}</td>
                <td>{{s.time_register}}</td>
                <td>{{s.booth_id}}</td>
                <td> 
    
                    <button type="button" class="btn btn-primary" (click)="onEdit(s.idbusiness)">Edit</button>
                    <button type="button" class="btn btn-danger" (click)="onDelete(s.idbusiness)">Del</button> 
    
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <div *ngIf="!isAuth">
        
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Error 403!</strong> Bạn chưa đăng nhập
        </div>
        
    </div>