<div *ngIf="isAuth">
    <h1>Approve Manager</h1>
    <hr>
    <button type="button" class="btn btn-lg btn-primary" >ADD APPROVE</button>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th >Id</th>
                <th>Business</th>
                <th>Booth</th>
                <th>Time approve</th>
                <th>Approve</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
        
            <tr *ngFor="let s of data  | orderBy : 'id'">
                <td>{{s.id}}</td>
                <td>{{s.name}}</td>
                <td>{{s.booth_id}}</td>

                <td *ngIf="s.approve == 0 || s.approve == 1">{{s.time_approve}}</td>
                <td *ngIf="s.approve == 0 || s.approve == 1">{{s.approve}}</td>
                <td  *ngIf="s.approve == 0 || s.approve == 1">{{s.admin_id}}</td>
                
                <td *ngIf="s.approve != 0 && s.approve != 1">Await To Approve</td>
                <td *ngIf="s.approve != 0 && s.approve != 1">Await To Approve</td>
                <td *ngIf="s.approve != 0 && s.approve != 1">Await To Approve</td>
                
                <td> 
                    
                    <button type="button" class="btn btn-primary" (click)="onEdit(s.idbooth)" *ngIf="s.approve != 0 && s.approve != 1">Approve</button>
                    <button type="button" class="btn btn-warning" (click)="onDelete(s.idbooth)" *ngIf="s.approve != 0 && s.approve != 1">Deny</button> 
                    <button type="button" class="btn btn-danger" (click)="onDelete(s.idbooth)">Del</button>        
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <div *ngIf="!isAuth">
        
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Error 403!</strong> Bạn chưa đăng nhập
        </div>
        
    </div>
